# Final Project Part 1 - Proposal

For my final project, I will be using a dataset of flights to identify which flights have the most delays/cancellations and during which time periods. This data is from 2015.

**Hypothesis, Assumptions, and Goals**

I want to use this data to figure out which variables will cause a flgith to be delayed based on departure/arrival times, etxc.

I have no prior assumptions on this data. It will be purely a test as to the kind of model I can create to get a higher level of accuracy with each model iteration. 

The only assumption I may have is that delays happen more often midday of the departing airport.


**Risks and Limitations**

The large amounts of data will have to be reduced to a smaller sample. This will take some time to get a non-biased sample, if possible.

**The Dataset**

As shown below, this dataset includes various characteristics of the flight. Other tables are inlcuded to clarify each abbreviation.

In [46]:
import pandas as pd
#flights = pd.read_csv('flights_sampl.csv') #dataset reduced from over 5mil to 300k
#flights2 = flights2.head(300000)

In [47]:
#flights2.to_csv("flights_sample2.csv")

In [48]:
flights3 = pd.read_csv('flights_sample2.csv')

In [49]:
flights3.describe()

,Unnamed: 0,YEAR,MONTH,DAY,DAY_OF_WEEK,FLIGHT_NUMBER,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,TAXI_OUT,...,SCHEDULED_ARRIVAL,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
count,300000.000000,300000.0,300000.0,300000.000000,300000.000000,300000.000000,300000.000000,294561.000000,294561.000000,294390.000000,...,300000.00000,294130.000000,293634.000000,300000.000000,300000.000000,72243.000000,72243.000000,72243.000000,72243.000000,72243.000000
mean,149999.500000,2015.0,1.0,10.231673,4.018087,2262.073127,1317.587673,1330.344482,12.781027,16.545423,...,1500.20701,1485.028545,9.272046,0.002267,0.018953,13.323547,0.074831,18.095995,24.376535,2.981991
std,86602.684716,0.0,0.0,5.676179,2.035068,1807.573049,467.861041,482.124414,39.907027,9.580910,...,483.53649,508.657530,42.663364,0.047556,0.136360,25.660444,2.076642,44.828128,42.167754,19.630498
min,0.000000,2015.0,1.0,1.000000,1.000000,1.000000,5.000000,1.000000,-47.000000,1.000000,...,1.00000,1.000000,-76.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,74999.750000,2015.0,1.0,5.000000,2.000000,759.000000,920.000000,928.000000,-4.000000,11.000000,...,1120.00000,1113.000000,-11.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,149999.500000,2015.0,1.0,10.000000,4.000000,1727.000000,1315.000000,1325.000000,-1.000000,14.000000,...,1520.00000,1516.000000,-2.000000,0.000000,0.000000,3.000000,0.000000,3.000000,7.000000,0.000000
75%,224999.250000,2015.0,1.0,15.000000,6.000000,3479.000000,1714.000000,1727.000000,13.000000,19.000000,...,1909.00000,1911.000000,14.000000,0.000000,0.000000,18.000000,0.000000,19.000000,32.000000,0.000000
max,299999.000000,2015.0,1.0,20.000000,7.000000,9793.000000,2359.000000,2400.000000,1604.000000,176.000000,...,2359.00000,2400.000000,1593.000000,1.000000,1.000000,824.000000,237.000000,1593.000000,938.000000,938.000000

In [51]:
! ls

Part_1.ipynb        airports.csv        pt2.md              pt3_example.ipynb
README.md           flights_sample2.csv pt2_example.ipynb   pt4.md
airlines.csv        pt1.md              pt3.md              pt4_example.pdf